body {
    font-family: sans-serif;
    vertical-align: top;
    text-align: center;
    background-color: orange;
}
#guessBox {
    font-size: large;
    width: 50px;
    height: 35px;
    background-color: blue;
    color: white;
}
button {
    background-color: blue;
    border: dodgerblue;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: yellow;
    display: inline-block;
    font-size: 14px;
}

#myId {
    color: deepskyblue;
}

.font{
    font-size: 14px;
}


p.center {
    text-align: center;
    color: red;
}



